header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 80px;
    width: 100%;
    background-color: #adadad;
}

/*header.sticky {*/
/*    position: fixed;*/
/*}*/

header > #make-booking {
    position: absolute;
    right: 15px;
    width: 110px;
    height: 75%;
    padding: 10px;
    text-align: left;
    background-color: #540d0d;
}


#menu-button {
    display: none;
}